extends layouts/_layout

block content
    .moviePage-movieBackgroundGradient
    .moviePage-movieBackgroundImage(style= 'background-image: url('+ movie.poster + ');')


    .container

        .moviePage-moviePosterContainer
            img.moviePage-moviePoster(src= movie.poster)

        .moviePage-container
            h1.moviePage-movieTitle #{movie.title}
            p Description: #{movie.plot}
            p Comments:
            each c in movie.comments
                ul

                    li user:#{c.username}
                    li comment: #{c.comment}
            li 
                if c.replies
                    for r in c.replies
                        ul
                            li username: #{r.username}
                            li comment: #{r.comment}
            if !isNotLoggedIn
                li 
                    button(class="redButton",id="reply-button-#{c.id}" onClick="showReplyForm('#{c.id}')") reply
                    div(class="reply-form",id="reply-div-#{c.id}")
                        form(method="POST",id="reply-#{c.id}")
                            label(for="username") Username: #{username}
                            br
                            label(for="comment") Comment:
                            input(type="text",name="comment")       
                            br
                            input(type="hidden",name="isReply",value="true")
                            input(type="hidden",name="commentId",value='#{c.id}')
                            button(type="submit") comment 
                    
            if isNotLoggedIn
                p To be able to comment, please
                    a(href='/login') login
            else
        form(method="POST" id="comment-form")
                    label(for="username") Username: #{username}
                    br
                    label(for="comment") Comment:
                    input(type="text",name="comment")
                    br
                    button(type="submit") comment

    script(type="text/javascript" src="movieLoader.js")