extends layouts/_layout

block content
    .moviePage-movieBackgroundGradient
    .moviePage-movieBackgroundImage(style= 'background-image: url('+ movie.poster + ');')


    .container

        .moviePage-moviePosterContainer
            img.moviePage-moviePoster(src= movie.poster)

        .moviePage-container
            h1.moviePage-movieTitle #{movie.title}
            p Description: #{movie.plot}
            p Comments:
            each c in movie.comments
                ul

                    li user:#{c.username}
                    li comment: #{c.comment}
            if isNotLoggedIn
                p To be able to comment, please
                    a(href='/login') login
            else
                form(method="POST")
                    label(for="username") Username: #{username}
                    br
                    label(for="comment") Comment:
                    input(type="text",name="comment")
                    br
                    button(type="submit") comment

    script(type="text/javascript" src="movieLoader.js")