extends layouts/_layout

block content
    h3 #{movie.title}
    p Description: #{movie.plot}
    p Comments:
    each c in movie.comments
        ul
            
            li user:#{c.username}
            li comment: #{c.comment}
    if isNotLoggedIn
        p To be able to comment, please 
            a(href='/login') login
    else 
        form(method="POST")
            label(for="username") Username: #{username}
            br
            label(for="comment") Comment:
            input(type="text",name="comment")       
            br
            button(type="submit") comment

    //.singleMovie-moviePosterLg
    //    img.singleMovie-moviePosterImage(src= movie.poster)

    //.flex-container.container-fluid
    //    .col-md-12
    //        .singleMovie-mainInformation
    //            .singleMovie-moviePosterContainer
    //                img.movieList-moviePoster(src= movie.poster)
    //            h3.singleMovie-movieTitle= movie.title


    //h3 #{movie.title}
    //p Description: #{movie.plot}
    //p Comments:
    //each c in movie.comments
    //    ul
    //
    //        li user:#{c.username}
    //        li comment: #{c.comment}
    //form(method="POST")
    //    label(for="username") Username:
    //    input(type="text",name="username")
    //    br
    //    label(for="comment") Comment:
    //    input(type="text",name="comment")
    //    br
    //    button(type="submit") comment

    script(type="text/javascript" src="movieLoader.js")
